.*.swp

._*

.DS_Store

.git

.hg

.npmrc

.lock-wscript

.svn

.wafpickle-*

config.gypi

CVS

npm-debug.log

node_modules/

# 图片不上传
albumPic

beautyPic

creativePic

manPic

online

visionPic

wallpaperGirlPic

zhihuPic